.checkout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 20px;
  font-size: 14px;
  color: #615e66;
  padding: 10px;
}

.checkout div {
  padding: 5px;
}

.checkout button {
  padding: 5px;
}
