.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.links {
  justify-content: center;

  display: flex;
  color: #c58c66;
  text-decoration: none;
  align-items: center;
  flex-direction: row;
  padding-top: 4px;
}
.links div {
  font-size: 12px;
  margin-left: 4px;
}
.contact {
  color: #615e66;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #615e66;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.form input {
  color: #615e66;
  height: 20px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #c58c66;
  border-style: solid;
}
.form textarea {
  height: 100px;
  border-radius: 5px;
  border-width: 1px;
  background-color: #f5f5f5;
  border-color: #c58c66;
}
.button {
  height: 20px;
  width: 100px;
  margin-top: 10px;
  background-color: #dbb5b6;
}
.button :hover :focus :active {
  background-color: #e8e8e8;
}

.response {
  display: flex;
  font-size: 14px;
  justify-content: center;
}
